<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile
                name="CatalinaLogs"
                fileName="${sys:catalina.home}/logs/config-graph.log"
                filePattern="${sys:catalina.home}/logs/config-graph-%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="8 MB" />
            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Uncomment to debug connectivity issues to RDBMS -->
        <Logger name="com.zaxxer" level="debug" />

        <!-- Uncomment to debug issues with Hibernate L2 caching -->
        <!--<Logger name="org.ehcache" level="debug" />-->
        <Logger name="com.hazelcast" level="info" />
        <Logger name="org.hibernate" level="debug" />
        <Logger name="org.hibernate.SQL" level="debug" />
        <Logger name="edu.fhda" level="debug" />/>

        <Root level="error">
            <!--<AppenderRef ref="Console" />-->
            <AppenderRef ref="CatalinaLogs" />
        </Root>
    </Loggers>
    
</Configuration>